@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
}

#root {
  background-color: #151515;
  color: #FFF;
}

.App h1 {
  font-family: 'Bungee', cursive;
  font-size: 10vw;
  line-height: 75%;
}
.App h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
}
.App button {
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
}
.App form h1 {
  font-family: 'Bungee', cursive;
  font-size: 5vh;
}
.App input {
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  padding: 1% 1%;
}
::placeholder {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 1% 1%;
}

.floatingFast { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.floatingSlow { 
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.stars, .twinkling {
	position: absolute;
	display: block;
	top: 0;
  bottom: 0;
	left: 0;
  right: 0;
	width: 100%;
  height: 100%;
}

.stars {
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling{
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 5px); }
  100%   { transform: translate(0, -0px); }   
}